*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
header{
    margin-bottom: 40px;
    margin-top: 40px;
    
        }
header nav ul{
    list-style: none;
    display: flex;
    justify-content: end;
    
            
}
header nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold; /*жирный текст*/
    line-height: 25px; /*Междустрочный интервал*/
    font-weight: bold;
    
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 100px;
    display: block;
    transition: all .3s;

}
header nav ul li a:hover {
    background: linear-gradient(45deg, rgb(144, 143, 228) 0%, rgb(166, 177, 224) 100%);
    color:blanchedalmond;
    transition: all .7s;

}
header nav ul li {
    margin-right: 15px;
}
header nav ul li a:active {
    background: firebrick;
    border:2px solid green;
}

.product-card_info_title{
display: flex;
}
.product-card {
    display: flex;
}
.product-card_info{
    width: 100%;
}